<div class="flex">
  <div class="phone-wrap pre-slide-in" [ngClass]="{ 'slide-in': init }">
    <div class="header-container">
      <div class="header-text">Idea Collab</div>
      <div class="subheader-text">Angular, PrimeNG</div>
    </div>
    <div class="phone-container">
      <div class="phone-frame">
        <div class="gears-container gears-d3-canvas-p1"></div>
        <div class="logos-container">
          <div
            *ngFor="let framework of frameworks"
            (click)="openLinkNewTab(framework.url)"
            class="logo {{ framework.className }}"
          ></div>
        </div>
        <iframe
          class="iframe-phone-viewport"
          [class.iframe-phone-viewport-animate]="animateP1"
          src="https://ideacollab.vercel.app"
        ></iframe>
      </div>
      <br />
      <button
        (click)="animateP1 = !animateP1"
        pButton
        pRipple
        type="button"
        [label]="animateP1 ? 'Close' : 'Frameworks'"
        class="p-button-raised p-button-info"
      ></button>
    </div>
  </div>
  <div class="laptop-wrap pre-slide-in-delay" [ngClass]="{ 'slide-in': init }">
    <div class="laptop-frame">
      <div class="laptop-display">
        <iframe
          class="iframe-laptop-viewport"
          src="https://ophthalmos.vercel.app/"
        ></iframe>
      </div>
      <div class="laptop-keyboard"></div>
    </div>
    <div class="header-container">
      <div class="header-text">Ophthalmos</div>
      <div class="subheader-text">
        <a href="https://www.sightforlifefoundation.com/" target="_blank"
          >Sight for Life Foundation</a
        >
      </div>
    </div>
  </div>
  <div class="phone-wrap pre-slide-in-delay" [ngClass]="{ 'slide-in': init }">
    <div class="header-container">
      <div class="header-text">Idea Collab - iOS</div>
      <div class="subheader-text">Angular, Ionic Native, iOS, Android</div>
    </div>
    <div class="phone-container">
      <div class="phone-frame">
        <div class="gears-container gears-d3-canvas-p2"></div>
        <div class="logos-container">
          <div
            *ngFor="let framework of frameworks"
            (click)="openLinkNewTab(framework.url)"
            class="logo {{ framework.className }}"
          ></div>
        </div>
        <iframe
          class="iframe-phone-viewport"
          [class.iframe-phone-viewport-animate]="animateP2"
          src="https://fam-ily.vercel.app"
        ></iframe>
      </div>
      <br />
      <button
        (click)="animateP2 = !animateP2"
        pButton
        pRipple
        type="button"
        [label]="animateP2 ? 'Close' : 'Frameworks'"
        class="p-button-raised p-button-info"
      ></button>
    </div>
  </div>
</div>

<div class="welcome-overlay" [ngClass]="{ 'remove-welcome': welcomeDone }">
  Welcome
</div>
