.flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box !important;
}

.remove-welcome {
  display: none !important;
}

.phone-frame {
  aspect-ratio: 0.48 / 1;
  height: 600px;
  border-width: 26px 10px 26px 10px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
  position: relative;
  box-sizing: border-box !important;
  box-shadow: 0px 4px 5px 1px #343434;
  background-color: #eeeeee;

  & > div {
    position: absolute;
  }
}

.laptop-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.laptop-display {
  aspect-ratio: 1 / 0.699;
  width: 800px;
  border-width: 26px 10px 26px 10px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
}

.laptop-keyboard {
  height: 20px;
  width: 900px;
  background: black;
  border-radius: 20px;
  border-top: 1px solid rgb(49, 49, 49);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0px 4px 5px 1px #343434;
}

.iframe-phone-viewport {
  width: 100%;
  height: 100%;
  border: none;
  transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1),
    opacity 1s cubic-bezier(0.22, 0.61, 0.36, 1),
    border-radius 1s cubic-bezier(0.22, 0.61, 0.36, 1);
  position: absolute;
  perspective-origin: left;
}

.iframe-phone-viewport-animate {
  transform: translate(-250px, 25px) scale(1.1) rotate3D(1, 2, 0, 75deg);
  border-radius: 20px !important;
  opacity: 0.85;
  box-shadow: 0px 4px 5px 1px #343434;
}

.iframe-phone-viewport-animate-right {
  transform: translate(250px, 25px) scale(1.1) rotate3D(1, -2, 0, 75deg);
  border-radius: 20px !important;
  opacity: 0.85;
  box-shadow: 0px 4px 5px 1px #343434;
}

.iframe-laptop-viewport {
  width: 100%;
  height: 100%;
  border: none !important;
}

.phone-wrap {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10% 10px 0;
  box-sizing: border-box;
  //   box-shadow: 0px 4px 5px 1px #343434;
}

.pre-slide-in {
  transform: translateX(100%);
  transition: transform 0.75s cubic-bezier(0.4, 0, 0.2, 1);
}
.pre-slide-in-delay {
  transform: translateX(100%);
  transition: transform 0.75s cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}

.laptop-wrap {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 10px 0px 10px 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box !important;
  overflow-x: auto;
  //   box-shadow: 0px 4px 5px 1px #343434;
  transform: translateX(-100%);
  transition: transform 0.75s cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}

.phone-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.purple {
  //   background-color: rgb(140, 140, 209);
  box-shadow: 0px 4px 5px 1px #343434;
}

.welcome-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  background: #ffffff00;
  color: white;
  font-size: 5em;
  font-family: sans-serif;
  -webkit-animation: tracking-in-contract-bck-top 1.5s
    cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: tracking-in-contract-bck-top 1.5s
    cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  pointer-events: none;
}

.logos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  //background-color: #efefef;
}

.logo {
  //   object-fit: contain;
  width: 80%;
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border: #343434;
  box-shadow: 0px 3px 3px 1px #343434;
  border-radius: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.logo:hover {
  transform: scale(1.2);
}

.logo-anchor {
  width: inherit;
  height: inherit;
  position: absolute;
  cursor: pointer;
}

.angular {
  background-image: url("../../../assets/images/angular.svg");
}

.nodejs {
  background-image: url("../../../assets/images/nodejs.svg");
}

.mongodb {
  background-image: url("../../../assets/images/mongodb.png");
}

.gcp {
  background-image: url("../../../assets/images/google-cloud.png");
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-10 19:37:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.header-container {
  text-align: left;
  margin: auto;
  width: fit-content;
}

.laptop-wrap .header-container {
  text-align: right;
}

.header-container .header-text {
  font-size: 5rem;
  font-family: inherit;
}

.header-container .subheader-text {
  font-size: 85%;
  opacity: 0.75;
  order: -1;
  font-family: inherit;
}

.slide-in {
  transform: translateX(0);
}

.header-container .visit-button-container {
  padding: 15px 0 0 0;
}
