<div #content (scroll)="scrolledover($event)" class="flex content">
  <div
    class="phone-wrap pre-slide-in overlay scale-in-hor-right"
    [ngClass]="{ 'slide-in': init }"
  >
    <div class="header-container">
      <div class="header-text">Idea Collab</div>
      <div class="subheader-text">Angular, PrimeNG</div>
    </div>
    <div class="phone-container">
      <div class="phone-frame">
        <div class="gears-container gears-d3-canvas-p1"></div>
        <div class="logos-container">
          <div
            *ngFor="let framework of frameworks"
            (click)="openLinkNewTab(framework.url)"
            class="logo {{ framework.className }}"
          ></div>
        </div>
        <iframe
          class="iframe-phone-viewport"
          [class.iframe-phone-viewport-animate]="animateP1"
          src="https://ideacollab.vercel.app"
        ></iframe>
      </div>
      <br />
      <button
        (click)="animateP1 = !animateP1"
        pButton
        pRipple
        type="button"
        [label]="animateP1 ? 'Close' : 'Frameworks'"
        class="p-button-raised p-button-info"
      ></button>
    </div>
  </div>
  <div class="parallax-a"></div>
  <!-- OPHTHALMOS -->
  <div
    class="laptop-wrap pre-slide-in-delay overlay"
    [ngClass]="{ 'slide-in': init }"
  >
    <div class="laptop-frame">
      <div class="laptop-display">
        <iframe
          class="iframe-laptop-viewport"
          src="https://ophthalmos.vercel.app/"
        ></iframe>
      </div>
      <div class="laptop-keyboard"></div>
    </div>
    <div class="header-container">
      <div class="header-text">Ophthalmos</div>
      <div class="subheader-text">
        <a href="https://www.sightforlifefoundation.com/" target="_blank"
          >Sight for Life Foundation</a
        >
      </div>
      <div class="visit-button-container">
        <button
          pButton
          pRipple
          type="button"
          label="Visit"
          class="p-button-raised p-button-text"
          style="color: black"
          (click)="window.open('https://ophthalmos.vercel.app', '_blank')"
        ></button>
      </div>
    </div>
  </div>
  <!-- <div class="parallax-b"></div> -->
  <div style="height: 40vh"></div>

  <!-- FAMILY APP -->
  <div
    class="phone-wrap pre-slide-in-delay overlay"
    [ngClass]="{ 'slide-in': init }"
  >
    <div class="header-container">
      <div class="header-text">Fam-ily</div>
      <div class="subheader-text">Angular, Ionic Native, iOS, Android</div>
    </div>
    <div class="phone-container">
      <div class="phone-frame">
        <div class="gears-container gears-d3-canvas-p2"></div>
        <div class="logos-container">
          <div
            *ngFor="let framework of frameworks"
            (click)="openLinkNewTab(framework.url)"
            class="logo {{ framework.className }}"
          ></div>
        </div>
        <iframe
          class="iframe-phone-viewport"
          [class.iframe-phone-viewport-animate]="animateP2"
          src="https://fam-ily.vercel.app"
        ></iframe>
      </div>
      <br />
      <button
        (click)="animateP2 = !animateP2"
        pButton
        pRipple
        type="button"
        [label]="animateP2 ? 'Close' : 'Frameworks'"
        class="p-button-raised p-button-info"
      ></button>
    </div>
  </div>
  <div class="parallax-a"></div>
  <div
    class="laptop-wrap pre-slide-in-delay overlay"
    [ngClass]="{ 'slide-in': init }"
  >
    <div class="laptop-frame">
      <div class="phone-container">
        <div class="phone-frame">
          <div class="gears-container gears-d3-canvas-p3"></div>
          <div class="logos-container">
            <div
              *ngFor="let framework of frameworks"
              (click)="openLinkNewTab(framework.url)"
              class="logo {{ framework.className }}"
            ></div>
          </div>
          <iframe
            class="iframe-phone-viewport"
            [class.iframe-phone-viewport-animate-right]="animateP3"
            src="https://idea-collab.vercel.app"
          ></iframe>
        </div>
        <br />
        <button
          (click)="animateP3 = !animateP3"
          pButton
          pRipple
          type="button"
          [label]="animateP3 ? 'Close' : 'Frameworks'"
          class="p-button-raised p-button-info"
        ></button>
      </div>
    </div>
    <div class="header-container">
      <div class="header-text">Idea Collab&nbsp; | &nbsp;iOS</div>
      <div class="subheader-text">Angular, Ionic Native, iOS, Android</div>
    </div>
  </div>

  <div class="phone-wrap light-end"></div>
  <!-- api landing page -->
  <div
    class="laptop-wrap pre-slide-in-delay overlay flex-row-reverse dark-begin"
    [ngClass]="{ 'slide-in': init }"
  >
    <div class="laptop-frame">
      <div class="laptop-display">
        <iframe
          class="iframe-laptop-viewport"
          src="https://girl-code-346204.uk.r.appspot.com/"
        ></iframe>
      </div>
      <div class="laptop-keyboard"></div>
    </div>
    <div class="header-container">
      <div class="header-text">Idea Collab API</div>
      <div class="visit-button-container">
        <button
          pButton
          pRipple
          type="button"
          label="Visit"
          class="p-button-raised p-button-text"
          style="color: black"
          (click)="
            window.open('https://girl-code-346204.uk.r.appspot.com/', '_blank')
          "
        ></button>
      </div>
    </div>
  </div>
  <div class="phone-wrap dark"></div>
  <div class="phone-wrap dark"></div>
</div>
<div #footer class="footer"></div>
