<div class="flex" [ngClass]="{ 'remove-blur': welcomeDone }">
  <div class="phone-wrap">
    <div class="phone-frame top-phone-frame">
      <iframe
        class="iframe-phone-viewport"
        src="https://ideacollab.vercel.app"
      ></iframe>
    </div>
  </div>
  <div class="laptop-wrap">
    <div class="laptop">
      <div class="laptop-display">
        <iframe
          class="iframe-laptop-viewport"
          src="https://ophthalmos.vercel.app/"
        ></iframe>
      </div>
      <div class="laptop-keyboard"></div>
    </div>
  </div>
  <div class="phone-wrap purple">
    <div class="phone-frame bottom-phone-frame">
      <iframe
        class="iframe-phone-viewport"
        src="https://fam-ily.vercel.app/"
      ></iframe>
    </div>
  </div>
</div>

<div class="welcome-overlay" [ngClass]="{ 'remove-welcome': welcomeDone }">
  Welcome
</div>
