.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.phone-frame {
  width: 2.82in;
  height: 5.78in;
  background-color: white;
  border-width: 26px 10px 26px 10px;
  border-color: black;
  border-style: solid;
  border-radius: 15px;
}

// .phone-frame::before {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   background: url("../assets/images/device_frame1.png") 0 0 no-repeat;
//   background-size: 2.82in 5.78in;
//   transform: scale(1.1);
//   z-index: -1;
//   font-size: 3.75vw !important;
// }

.iframe-viewport {
  width: 100%;
  height: 100%;
  border: none !important;
}
