@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Satisfy&family=Source+Code+Pro&family=The+Girl+Next+Door&display=swap");

@import url(./assets/styles/scrollbar.css);

@import url(./assets/styles/animista.css);

@import url(./assets/styles/alt14-animation.css);

@import url(./assets/styles/responsive.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  //   width: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  background-size: 400% 400%;
  background-color: #212121;
  color: #dedede;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.p-button-label {
  color: #dedede !important;
}
.p-button-info > .p-button-label {
  color: #111111 !important;
}
