@import url(./assets/styles/scrollbar.css);

@import url("https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Satisfy&family=Source+Code+Pro&family=The+Girl+Next+Door&display=swap");

html {
  height: 100%;
  //   width: 100%;
  box-sizing: border-box;
}

body {
  //   width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  background-size: 400% 400%;
}

.gears-container {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.gears-d3-canvas svg {
  max-width: 300px !important;
  max-height: 700px !important;
  width: 100%;
  height: 100%;
}

.style-0 path {
  fill: #ff9900;
}
.style-1 path {
  fill: #424242;
}
.style-2 path {
  fill: #e9e9e9;
}
.style-3 path {
  fill: #bcbcbc;
}
.style-4 path {
  fill: #3299bb;
}

@media screen and (max-width: 1440px) {
  .header-text {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 500px) {
  .phone-frame {
    width: 200px !important;
  }
  .phone-wrap {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }
}

@media screen and (max-width: 500px) {
  .laptop-wrap,
  .laptop-wrap.flex-row-reverse {
    padding: 0 !important;

    & .laptop-frame {
      overflow: hidden;

      & .laptop-display {
        border: none !important;
        border-radius: 0 !important;
        width: 100vw !important;
      }

      & .laptop-keyboard {
        display: none;
      }
    }
  }
}
