@media screen and (max-width: 1440px) {
  .header-text {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 500px) {
  .phone-frame {
    width: 200px !important;
  }
  .phone-wrap {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }
}

@media screen and (max-width: 500px) {
  .laptop-wrap,
  .laptop-wrap.flex-row-reverse {
    padding: 0 !important;

    & .laptop-frame {
      overflow: hidden;

      & .laptop-display {
        border: none !important;
        border-radius: 0 !important;
        width: 100vw !important;
      }

      & .laptop-keyboard {
        display: none;
      }
    }
  }
}
